a {
  z-index: 999;
  cursor: pointer;
}

.navBar {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.loginSection {
  background: linear-gradient(-45deg, #ffffff, #0f699083, #ffffff, #ffffff);
  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
  background-color: #0f699036;
}

@keyframes gradient {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 60%;
  }
  100% {
    background-position: 25% 0%;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.cardBodyshow {
  animation: show linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.cardBody {
  position: relative;
}

.cardBody::before,
.cardBody::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: inherit;
}

.cardBody::after {
  opacity: 0;
  background-image: linear-gradient(338deg, #0f6990 64%, #66d1cf 100%);
  transition: opacity.3s ease-in-out;
}

.cardBody:hover {
  color: #ffffff;
}

.cardBody:hover::after {
  opacity: 1;
}

.active {
  display: block;
}

.shapeParent {
  position: relative;
}

.shape {
  position: absolute;
  left: 0;
  background-color: #0f6990;
  height: 30px;
  width: 8px;
  border-radius: 2px;
}

.inputBox {
  font-weight: bold;
  min-width: 270px;
  max-width: 300px;
  padding: 5px 15px;
  height: 50px;
  border: 1px solid #067bc2;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
}

.profileInputBox {
  font-weight: bold;
  border: 0px;
  border-bottom: 2px solid black;
  background-color: #fafafa;
  color: #0f6990;
  outline: none;
  height: 30px;
  width: 350px;
}

.borderStyle {
  border: 2px solid #0f6990;
  border-radius: 10px;
}

.answerLine {
  border: 1px solid green;
}

.faq {
  width: 75%;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.answer.show {
  height: auto;
  max-height: 999px;
  transition: all 0.3s ease-in-out;
}

.hide {
  display: none;
}

.cursor {
  cursor: pointer;
}

.paymentCard {
  width: 45rem;
}

.paymentBtn {
  width: 150px;
  background-color: #0f6990;
  height: 40px;
  border: none;
}

.addFormCard {
  width: 48%;
}

.courseCard {
  background-color: #fafafa;
  height: 450px;
  width: 360px;
  position: relative;
  overflow: hidden;
  object-fit: contain;
  border-radius: 8px;
  transform-style: preserve-3d;
}

.courseImgContainer {
  position: absolute;
  top: -15%;
  left: -20%;
}

.courseLogo {
  opacity: 10%;
}

.btnNew {
  border-radius: 8px;
  display: flex;
  border: 1px solid #0f6990;
  background-color: #ffffff;
  padding: 5px 15px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  justify-content: center;
}
.btn2 {
  color: #ffffff;
  z-index: 1;
}

.btn2:hover {
  color: #0f6990;
  z-index: 1;
}

.btnNew::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #0f6990;
  z-index: -1;
  transition: 0.8s;
}

.btn2::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
  height: 200%;
}

.btn2:hover::before {
  height: 0%;
}

.scholarship_btn:hover {
  background-color: #bbdefb;
}

.courseDetailCard {
  background-color: #fafafa;
  width: 370px;
  position: relative;
  object-fit: contain;
  overflow: hidden;
  border-radius: 8px;
}

.paymentImg {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.checkImg {
  width: 5%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .profileInputBox {
    width: 300px;
  }

  .courseCard {
    width: 100%;
  }

  .courseCardP1 {
    border-radius: 10px 10px 0 0;
  }

  .addFormCard {
    width: 100%;
  }

  .paymentCard {
    width: 100%;
  }

  .paymentBtn {
    width: 100%;
  }
}
